<button class="searchbar-toggler" type="button" data-toggle="collapse" data-target=".searchbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="">🔎</span>
</button>
<div class="searchbar-collapse collapse d-sm-inline-flex justify-content-between">
    <form method="get">
        <input class="Search-term" type="text"/>
    </form>
</div>